<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<feed xmlns="http://www.w3.org/2005/Atom"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:media="http://search.yahoo.com/mrss/">

  <title>Pictures from instagram @{{ feed[0].username }}</title>
  <link rel="self" href="http://instatom.freelancis.net/" />
  <link rel="alternate" type="text/html" href="http://instagram.com/{{ feed[0].username }}"/>
  <id>tag:instatom:/{{ feed[0].username }}</id>
  <icon>{{ feed[0].thumbnail_url }}</icon>
  <subtitle></subtitle>
  <updated>{{ 'now'|date("Y-m-d") }}T{{ 'now'|date("H:i:s") }}Z</updated>
  <generator uri="http://instatom.freelancis.net/">instatom</generator>

{% for pic in feed %}
<entry>
  <title>{{ pic.caption }}</title>
  <link rel="alternate" type="text/html" href="{{ pic.link }}"/>
  <id>tag:instagram.com,{{ pic.created_time }}</id>
  <published>{{ pic.created_time|date("Y-m-d") }}T{{ pic.created_time|date("H:i:s")}}Z</published>
  <updated>{{ pic.created_time|date("Y-m-d") }}T{{ pic.created_time|date("H:i:s")}}Z</updated>
  <content type="image">&lt;img src=&quot;{{ pic.thumbnail_url }}&quot; width=&quot;640&quot; height=&quot;640&quot; alt=&quot;{{ pic.caption }}&quot; /&gt; {{ pic.caption }}</content>
  <author>
    <name>{{ pic.full_name }}</name>
    <uri>http://instagram.com/{{ pic.username }}</uri>
  </author>
  <link rel="enclosure" type="image/jpeg" href="{{ pic.thumbnail_url }}" />
</entry>
{% endfor %}

</feed>
